
<% if (is_home()) { %> 
<header class="panel-cover animsition">
<% } else { %>
<header class="panel-cover panel-cover--collapsed animsition">
<% } %>

  <div class="panel-main">

  
    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <% if (theme.logo) { %>
        <a href="/" title="link to homepage for <%= config.title %>"><img src="<%= theme.logo %>" width="80" alt="<%= config.title %> logo" class="panel-cover__logo logo" /></a>
        <% } %>

        <h1 class="panel-cover__title panel-title"><a href="/" title="link to homepage"><%= config.title %></a></h1>
        <hr class="panel-cover__divider" />

        <% if (config.subtitle) { %>
        <p class="panel-cover__description">
          <%= config.subtitle %>
        </p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        <% } %>

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">

              <% for (var i in theme.menu){ %>
                  <%
                  if (theme.menu[i]+'' == '/') {
                    nav_btn_class = 'home-button';
                    new_tab = '';
                    href = '';
                  %>
                    <li id="page-button-home" class="home_navigation__item navigation__item"><a style="cursor:pointer" title="" class="<%= nav_btn_class %>"><%= i %></a></li>
                  <%
                  }else if(theme.menu[i]+'' == '/#blog'){
                  	nav_btn_class = 'blog-button';
                  	new_tab = '';
                    href = theme.menu[i]+'';
                  %>
                    <li id="page-button-blog" class="blog_navigation__item navigation__item"><a href="<%= href %>" title="" class="<%= nav_btn_class %>"><%= i %></a></li>
                  <%
                  }else if(theme.menu[i]+'' == '/#SS'){
                  	nav_btn_class = 'other-button';
                  	new_tab = '_blank';
                  	href = 'https://ss.remiliascarlet.tk/auth/login';
                  %>
                  	<li id="page-button-ss" class="other_navigation__item navigation__item"><a href="<%- href %>" title="" class="<%= nav_btn_class %>"><%= i %></a></li>
                  <% 
                	}else if(theme.menu[i]+'' == '/about'){
                		nav_btn_class = 'other-button';
                  	new_tab = '';
                  	href = theme.menu[i]+'';
                	%>
                  	<li id="page-button-about" class="other_navigation__item navigation__item"><a href="<%- href %>" title="" class="<%= nav_btn_class %>"><%= i %></a></li>
                  <%
                	}else if(theme.menu[i]+'' == '/records'){
                		nav_btn_class = 'other-button';
                  	new_tab = '';
                  	href = theme.menu[i]+'';
                	%>
                  	<li id="page-button-records" class="other_navigation__item navigation__item"><a href="<%- href %>" title="" class="<%= nav_btn_class %>"><%= i %></a></li>
                  <%
                	}else {
                    nav_btn_class = 'other-button';
                    new_tab = '';
                    href = theme.menu[i]+''; 
                  %>
                    <li class="other_navigation__item navigation__item"><a href="<%- href %>" title="" class="<%= nav_btn_class %>"><%= i %></a></li>
                 <% }%>               
              <% } %>

            </ul>
          </nav>

          <%- partial('_partials/social') %>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>